<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.shouheng.commons" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>

        <activity android:name=".activity.ContainerActivity"/>

        <activity android:name="me.shouheng.commons.minipay.DonateActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/PayTheme"/>

    </application>

</manifest>
