<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.shouheng.notepal">

    <!-- ================Permissions normal================ -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- ================Permissions required by Baidu Location================ -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- ================Permissions to add shortcut on desktop================ -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />

    <!-- ================Permissions required by notifications================ -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <application
        android:name=".PalmApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme.FullScreen.Light">
        <activity android:name=".activity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.gm.action.AUTO_SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="hashtag" />
            </intent-filter>
        </activity>
        <activity android:name=".intro.IntroActivity" />
        <activity android:name=".activity.SettingsActivity" />
        <activity android:name=".activity.FabSortActivity" />
        <activity android:name=".activity.SketchActivity" />
        <activity
            android:name=".activity.GalleryActivity"
            android:theme="@style/PictureViewTheme" />
        <activity
            android:name=".activity.ContentActivity"
            android:exported="true" />
        <activity android:name=".activity.ArchiveActivity" />
        <activity android:name=".activity.TrashedActivity" />
        <activity android:name=".activity.UserInfoActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.SearchActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="aa14224ea2102fef301d211dac552635f37b1f9e" />

        <!-- ================Baidu Map API START================ -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="6igztKEkuseyYB93qYAcsaOx6tUYvp7W" />
        <!-- ================Baidu Map API END================ -->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="me.shouheng.notepal.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service android:name=".async.DataBackupIntentService" />

        <activity android:name=".activity.LockActivity"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"/>

        <!-- region App Widget -->
        <receiver android:name=".widget.desktop.ListWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/list_widget" />
        </receiver>
        <receiver android:name=".widget.desktop.SimpleWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/simple_widget_provider_info" />
        </receiver>
        <receiver android:name=".widget.desktop.DesktopShortcutAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/shortcut_app_widget" />
        </receiver>

        <service
            android:name=".widget.desktop.NotesListWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity
            android:name=".activity.ConfigActivity"
            android:theme="@style/TransParentDialog">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.QuickNoteActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|navigation"
            android:excludeFromRecents="true"
            android:theme="@style/TransParentDialog"
            android:launchMode="singleInstance"
            android:taskAffinity="" />
        <!-- endregion -->
    </application>

</manifest>