<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.shouheng.notepal">

    <!-- umeng and business -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- camera -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- shortcut -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <!-- finger print -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="com.fingerprints.service.ACCESS_FINGERPRINT_MANAGER"/>
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY"/>

    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />

    <application
        android:name=".PalmApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/mark_note"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/LightThemeBlue"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:replace="android:label">

        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.Branded"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop">

            <!-- launch -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- shortcuts -->
            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />

            <!-- search -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <!-- register auto send event receiver -->
            <intent-filter>
                <action android:name="com.google.android.gm.action.AUTO_SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>

            <!-- register send event receiver -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>

            <!-- register send multiple event receiver -->
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>

            <!-- register view event receiver -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="*" android:mimeType="*/*" android:scheme="file"/>
                <data android:host="*" android:mimeType="*/*" android:scheme="content"/>
                <data android:pathPattern=".*\\.md"/>
                <data android:pathPattern=".*\\..*\\.md"/>
                <data android:pathPattern=".*\\..*\\..*\\.md"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.md"/>
                <data android:pathPattern=".*\\.txt"/>
                <data android:pathPattern=".*\\..*\\.txt"/>
                <data android:pathPattern=".*\\..*\\..*\\.txt"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.txt"/>
            </intent-filter>

            <!-- register view event receiver -->
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.EDIT"/>
                <action android:name="com.dropbox.android.intent.action.DBXC_EDIT"/>
                <action android:name="com.dropbox.android.intent.action.DBXC_VIEW"/>
                <data android:host="*" android:mimeType="text/plain" android:scheme="file"/>
                <data android:host="*" android:mimeType="text/plain" android:scheme="content"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>

            <!-- register view event receiver -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="*" android:mimeType="*/*" android:pathPrefix="/external/file" android:scheme="content"/>
            </intent-filter>

        </activity>

        <activity android:name=".activity.SettingsActivity" />

        <activity android:name=".activity.FabSortActivity" />

        <activity android:name=".activity.SketchActivity" />

        <activity
            android:name=".activity.GalleryActivity"
            android:theme="@style/PictureViewTheme" />

        <activity android:name=".activity.SearchActivity" />

        <activity android:name=".activity.ListActivity" />

        <!-- fabric -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="aa14224ea2102fef301d211dac552635f37b1f9e" />

        <!-- uemng todo -->
        <meta-data android:value="${UMENG_APPKEY}" android:name="UMENG_APPKEY"/>
        <meta-data android:value="${UMENG_CHANNEL_VALUE}" android:name="UMENG_CHANNEL"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="me.shouheng.notepal.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />

        </provider>

        <service android:name=".service.DataBackupService" />
        <service android:name=".onedrive.OneDriveBackupService" />

        <activity
            android:name=".activity.LockActivity"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" />

        <!-- region App Widget -->
        <receiver android:name=".desktop.ListWidgetProvider">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_list" />

        </receiver>

        <receiver android:name=".desktop.SimpleWidgetProvider">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_simple" />

        </receiver>

        <receiver android:name=".desktop.DesktopShortcutAppWidget">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_shortcut" />

        </receiver>

        <service
            android:name=".desktop.NotesListWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity
            android:name=".desktop.ConfigActivity"
            android:theme="@style/TransParentDialog">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>

        </activity>

        <activity
            android:name=".activity.QuickActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|navigation"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:theme="@style/TransParentDialog" />
        <!-- endregion -->

        <activity android:name=".activity.DirectoryActivity" />

        <activity android:name=".activity.AboutActivity"/>

    </application>

</manifest>